<header>
    <nav>
        <a href="/">MSBH</a>
        <ul>
            <li><a href="/breweries">Breweries</a></li>
            <li><a href="/breweries/new">Add Brewery</a></li>
            <li><a href="/beers">Beers</a></li>
            <li><a href="/beers/new">Add Beer</a></li>
        </ul>
    </nav>
</header>