<header>
    <nav>
        <a href="/">MSBH</a>
        <ul>
            <li><a href="/breweries">Breweries</a></li>
            <li><a href="/breweries/new">Add Breweries</a></li>
        </ul>
    </nav>
</header>