<label>Brewery Name</label>
<input type="text" name="brewery_name" value="<%= brewery.brewery_name %>">
<label>Brewery City</label>
<input type="text" name="brewery_city" value="<%= brewery.brewery_city %>">
<div>
    <label>Logo</label>
    <input type="file" name="logo">
</div>
